Computergrafik/uebung_07/.idea/misc.xml
Computergrafik/uebung_07/.idea/uebung_07.iml
Computergrafik/uebung_07/.idea/vcs.xml
Computergrafik/uebung_07/.idea/inspectionProfiles/profiles_settings.xml
Computergrafik/uebung_07/.idea/inspectionProfiles/Project_Default.xml
